<div class="clr"></div>

<div id="wrapp">
	<!--<%= image_tag("slika1.jpg", :class=>"thumb") %>
		<%= image_tag("slika1.jpg", :class=>"thumb") %>
		<%= image_tag("slika2.jpg", :class=>"thumb") %>
		<%= image_tag("slika3.jpg", :class=>"thumb") %>
		<%= image_tag("slika4.png", :class=>"thumb") %>
		<%= image_tag("slika5.jpg", :class=>"thumb") %>
		<%= image_tag("slika6.jpg", :class=>"thumb") %>
		<%= image_tag("slika6.jpg", :class=>"thumb") %>
		<%= image_tag("slika6.jpg", :class=>"thumb") %>
		<%= image_tag("slika6.jpg", :class=>"thumb") %>
		<%= image_tag("slika6.jpg", :class=>"thumb") %>
		<%= image_tag("slika6.jpg", :class=>"thumb") %>-->

	<div id="border1">
		<div class="thumb" id="slika1"> <p>Velika pljeskavica</p></div>
		<div class="thumb" id="slika2"> <p>Gurmanska pljeskavica</p></div>
		<div class="thumb" id="slika3"> <p>Punjena pljeskavica</p></div>
	</div>
	<div id="border3">
		<div class="thumb" id="slika4"> <p>Slatke palacinke</p></div>
		<div class="thumb" id="slika5"> <p>Slane palacinke</p></div>
		<div class="thumb" id="slika6"> <p>Ultra-mega-giga palacinka</p></div>
	</div>
	<div class="clr"></div>
	<div id="border4">
		<div class="thumb" id="slika7"> <p><span>Pizza</span> margarita</p></div>
		<div class="thumb" id="slika8"> <p><span>Pizza</span> capricciosa</p></div>
		<div class="thumb" id="slika9"> <p><span>Pizza</span> margherita</p></div>
	</div>
	<div id="border2">
		<div class="thumb" id="slika10"> <p>Hot dog</p></div>
		<div class="thumb" id="slika11"> <p>Hot dog</p></div>
		<div class="thumb" id="slika12"> <p>Hot dog</p></div>
	</div>


	</div>

	<div class="a2">
		
	</div id="stefan">
	<div>
		
	</div>
	<div>
		
	</div>