<!DOCTYPE html>
<html>
  <head>
    <title>FastFood</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<div id="glava">
		<div class="colona-10"><%= image_tag("hamburger-icon.png", id:"logo") %></div>
		<div class="colona-10"><%= image_tag("palacinke.png", id:"logo") %></div>
		<div class="colona-60"><span id="naslov">FAST FOOD</span></div>
		<div class="colona-10"><%= image_tag("pizza.png", id:"logo") %></div>
		<div class="colona-10"><%= image_tag("dog.png", id:"logo") %></div>
	</div>

	<div id="nav">
		<nav>
			<ul>
				<button>MENU</button>
				<button>GALLERY</button>
				<button>CONTACT</button>
				<button>ABOUT</button>
			</ul>
		</nav>
	</div>

    <div class="yield">	
    	<%= yield %>
	</div>

    <div id="footer"></div>	

  </body>
</html>
